{% extends 'useradmin/base.html' %}
{% load static %}
{% block content %}

<section class="content-main">
  <form
    action="{% url 'useradmin_edit_products' product.pid %}"
    method="POST"
    enctype="multipart/form-data"
    >
    {% csrf_token %}
    <div class="row">
      <div class="col-9">
        <div class="content-header">
          <h2 class="content-title">Edit Product</h2>
          <div>
            <button
              class="btn btn-light rounded font-sm mr-5 text-body hover-up"
            >
              Save to draft
            </button>
            <button
              class="btn btn-md rounded font-sm hover-up"
              type="submit">
              Updated
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Product details</h4>
          </div>
          <div class="card-body">

              {% if form.errors %}
                <div class="alter alert-danger">
                  <strong>{{froms.errors}}</strong>
                </div>
              {% endif %}

            <div class="mb-4">
              <label for="product_name" class="form-label">Product title</label>
              {{form.title | safe}}
            </div>
            <div class="mb-4">
              <label class="form-label">Full description</label>
              {{form.description | safe}}
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Regular price</label>
                  <div class="row gx-2">{{form.old_price |safe}}</div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Promotional price</label>
                  {{form.price |safe}}
                </div>
              </div>
              <div class="col-lg-4">
                <label class="form-label">Currency</label>
                <select class="form-select">
                  <option>USD</option>
                  <option>EUR</option>
                  <option>RUBL</option>
                </select>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Type</label>
              {{form.product_type|safe}}
            </div>
            <div class="mb-4">
              <label class="form-label">Stock</label>
              {{form.stock_count |safe}}
            </div>
            <div class="mb-4">
              <label class="form-label">Life</label>
              {{form.life |safe}}
            </div>
            <div class="mb-4">
              <label class="form-label">Manufactured Date</label>
              {{form.manufactured |safe}}
            </div>
            <div class="row d-flex w-100">
              <div class="col-lg-4">
                <label class="form-label">Digital</label>
                {{form.digital |safe}}
              </div>
            </div>
            
          </div>
        </div>
        <!-- card end// -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Shipping</h4>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-4">
                    <label for="product_name" class="form-label">Width</label>
                    <input
                      type="text"
                      placeholder="inch"
                      class="form-control"
                      id="product_name"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-4">
                    <label for="product_name" class="form-label">Height</label>
                    <input
                      type="text"
                      placeholder="inch"
                      class="form-control"
                      id="product_name"
                    />
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="product_name" class="form-label">Weight</label>
                <input
                  type="text"
                  placeholder="gam"
                  class="form-control"
                  id="product_name"
                />
              </div>
              <div class="mb-4">
                <label for="product_name" class="form-label"
                  >Shipping fees</label
                >
                <input
                  type="text"
                  placeholder="$"
                  class="form-control"
                  id="product_name"
                />
              </div>
          </div>
        </div>
        <!-- card end// -->
      </div>
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Product image</h4>
          </div>
          <div class="card-body">
            <div class="input-upload">
              <img
                src="{{product.image.url}}"
                alt=""
              />
              {{form.image|safe}}
            </div>
          </div>
        </div>
        <!-- card end// -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Products</h4>
          </div>
          <div class="card-body">
            <div class="row gx-2">
              <div class="col-sm-6 mb-3">
                <label class="form-label">Category</label>
                {{form.category | safe}}
              </div>
              <div class="col-sm-6 mb-3">
                <label class="form-label">Status</label>
                    {{ form.vendor | safe }}
              </div>
              <div class="mb-4">
                <label for="product_name" class="form-label">Tags</label>
                {{form.tags | safe}}
              </div>
            </div>
            <!-- row.// -->
          </div>
        </div>
        <!-- card end// -->
      </div>
    </div>
  </form>
</section>

{% endblock content %}
