
      <div class="row" id="order2checkout">
        <h3 class="mb-30">Billing Details</h3>
        <div>
          <div class="mb-10 d-flex">
            <h5>First Name: </h5>
            <span class="fs-5 ms-3"> {{address.first_name}}</span>
          </div>
          
          {% if address.last_name %}
            <div class="mb-10 d-flex">
              <h5>Last Name:</h5>
              <span class="fs-5 ms-3"> {{address.last_name}}</span>
            </div>
          {% endif %}
            
          
          <div class="mb-10 d-flex">
            <h5>Address 1:</h5>
            <span class="fs-5 ms-3"> {{address.address1}}</span>
          </div>
          
          {% if address.address2 %}
            <div class="mb-10 d-flex">
              <h5>Address 2:</h5>
              <span class="fs-5 ms-3"> {{address.address2}}</span>
            </div>
          {% endif %}
            
          
          {% if address.country %}
          <div class="mb-10 d-flex">
            <h5>Country:</h5>
            <span class="fs-5 ms-3"> {{address.country}}</span>
          </div>
          {% endif %}
            
          
          <div class="mb-10 d-flex">
            <h5>City:</h5>
            <span class="fs-5 ms-3"> {{address.city}}</span>
          </div>

          <div class="mb-10 d-flex">
            <h5>Post code/ Zip:</h5>
            <span class="fs-5 ms-3"> {{address.zipcode}}</span>
          </div>

          <div class="mb-10 d-flex">
            <h5>Phone:</h5>
            <span class="fs-5 ms-3"> {{address.phone}}</span>
          </div>

          {% if address.company_name %}
          <div class="mb-10 d-flex">
            <h5>Company Name:</h5>
            <span class="fs-5 ms-3"> {{address.company_name}}</span>
          </div>
          {% endif %}

          <div class="mb-10 d-flex">
            <h5>Email address:</h5>
            <span class="fs-5 ms-3"> {{address.email}}</span>
          </div>

          {% if address.additional_inforamtion %}
          <div class="mb-10 d-flex">
            <h5>Additional information:</h5>
            <span class="fs-5 ms-3"> {{address.additional_info}}</span>
          </div>
          {% endif %}

        </div>
      </div>


